
/* reset */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  font-family: "Open Sans", sans-serif;
}
/* general*/
 h1,h2,h3{ 
  margin-bottom: 20px;
}

a{
  color: black;
  text-decoration: none;
}
.active{
  background: #444;
}
.btn{
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  background-color:white;
  color: #111;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  
}
.btn:hover{
  background-color: #222;
  color: white;
}
/* header */
.header{
  background:#333;
  overflow: auto;
   line-height: 1.7em; 

}
.header nav h1{
  float: left;
  padding: 20px ;
  margin-bottom:0; 
}
.header nav h1 a{
color: white;
   
}
.header nav ul{
  float: right;
  list-style: none;
}
.header nav ul li {
  float: left;
}
.header nav ul li a{
  color:white;
  padding: 20px;
  display: block;
}
.header nav ul li a:hover{
  background:#444;
  
}
/* vp */
.vp{
  height: 700px;
  background: url(../images/cafe1.jpg) center center/cover;

}
.vp-content{
  max-width: 500px;
  padding-top: 170px;
  color: white;  
  margin: auto;
  text-align:center;

}
.vp-content h1{
  font-size: 50px;
  
}
.separator{
  height: 10px;
  width: 100px;
  margin:20px  auto;
  background-color: #111;
}
.vp-content p{
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}
p{
  margin-bottom: 10px;
}

.features{
  overflow: auto;
  padding: 100px 0;
  text-align: center;


}
.feature{
  float: left;
  width: 50%;

}
.person {
  height: 400px;
  background: url(../images/cafe3.jpg) center center/ cover;
}
.reservation {
  padding: 100px 0;
  text-align: center;
}
footer {
  background: #222;
  color: white;
  padding: 30px 0;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}


/* where */
.chip {
  display: inline-block;
  width: 33px;
  border-radius: 100%;
  background: #333;
  color: white;
  text-align: center;
}
.chip-purple{
  background: #9e0c71;
}
.chip-brown{
  background: #6c491d;
}
.where {
  padding: 180px 0 100px 0;
  overflow: auto;
  min-height: 100vh;
}
.where-img {
  float: left;
  width: 45%;
}
.where-text {
  float: right;
  width: 50%;
}
.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}